p {
  margin-top: 0;
  margin-bottom: 0;
}

.next-one {
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.flexbox-1 {
  display: flex;
  height: 50px;
}

.inner-div-1 {
  background-color: lightpink;
  width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item-1 {
  background-color: black;
  color: white;
}

.inner-div-2 {
  background-color: lightblue;
  width: 200px;
}

.flexbox-2 {
  display: flex;
  height: 50px;
}

.f2-inner-div-1 {
  background-color: lightpink;
  width: 100px;
}

.f2-inner-div-2 {
  background-color: lightblue;
  width: 200px;
}

.f2-row2 {
  display: flex;
  justify-content: space-between;
}

.row2-item {
  background-color: black;
  color: white;
}