body {
  height: 3000px;
}

.first-sidebar {
  background-color: rgb(35, 36, 40);
  width: 70px;
  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;  

  padding-top: 18px;
  padding-bottom: 18px;
}

.pic {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.second-sidebar {
  background-color: rgba(43, 45, 49, 0.9);
  color: white;
  width: 200px;

  position: fixed;
  left: 70px;
  top: 0;
  bottom: 0;

  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.title {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.symbol {
  font-family: Arial;
  color: lightgray;
  font-size: 28px;
}

.tags {
  display: flex;

  font-family: Arial;
  font-size: 16px;
  color: lightgray;
  margin-bottom: 10px;
}

.symbol-2 {
  margin-right: 10px;
}