.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.thumbnail {
  width: 100%;
  /* display: block; */
}

.video-title-link {
  text-decoration: none;
  color: black;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

/* .video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
} */

.info-row-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture-tooltip-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.profile-picture {
  width: 36px;
  border-radius: 25px;
}

.channel-tooltip {
  background-color: white;
  /* width: 180px; */
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

  position: absolute;
  bottom: -60px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

.channel-picture-tooltip-container:hover .channel-tooltip {
  opacity: 1;
}

.profile-picture-tooltip {
  width: 40px;
  border-radius: 25px;
  margin-right: 6px;
}

.channel-info-tooltip {
  font-family: Roboto, Arial;
  white-space: nowrap;
}

.channel-name-tooltip {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.channel-subs-tooltip {
  font-size: 12px;
  color: gray;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author-link {
  text-decoration: none;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  /* padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px; */
  padding: 4px;
  border: none;
  border-radius: 2px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 1099px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .video-title {
    font-size: 16px;
    line-height: 24px;
  }

  .video-author,
  .video-stats {
    font-size: 14px;
  }
  
}